.content {
  display: flex;
  line-height: 1.5;
  flex-direction: column;
  margin: 5px;
  width: 100%;
  height: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
  border-radius: 5px;
  overflow: hidden;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
