.content {
  display: flex;
  line-height: 1.5;
  flex-direction: column;
  margin: 5px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}

.font {
  color: #232d3f;
  text-decoration: none;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
