body {
  display: block;
}
.navbar {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto Condensed', sans-serif;
  align-items: center;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
}

.learn {
  background: linear-gradient(45deg, #40ddb6, #6b78e5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link:hover {
  transform: translate(0, -2px);
  color: #6b78e5;
}

.image {
  width: 30px;
  height: auto;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
