body {
  display: block;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 48px;
  background-color: #fff7e9;
}

.menu {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #141e46;
}
