.navbar {
  background-color: #c70039;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 48px;
  width: auto;
}

.menu {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #141e46;
}
