.tap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 8px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ff6969;
  display: block;
  box-sizing: border-box;
}

.title {
  font-size: 48px;
  margin-left: 20px;
  font-weight: 700;
  color: #141e46;
  display: block;
  width: auto;
  padding: 10px 30px;
}
