.container {
  display: flex;
  justify-self: center;
}

.tap {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  align-items: center;
}

.image {
  grid-column-start: 1/2;
  justify-self: center;
}

.title {
  justify-self: center;
  font-family: 'Roboto Condensed', sans-serif;
  grid-column-start: 3/2;
  font-size: 18px;
  font-weight: 700;
}
