.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedContainer {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
  margin: 36px 128px;
}
